<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>핫 게시물</h3>

    <div th:each="post : ${hotPostList}">
        <p th:text="'작성자 : ' + ${post.userId}"></p>
        <p th:text="'제목 : ' + ${post.title}"></p>
    </div>

</body>
</html>