<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modify Post</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

<body>

<body>

<div class="modifyBox">
    <h2><span th:text="${post.userId}"></span>님의 게시물 수정</h2>

    <input type="hidden" id="postId" th:value="${post.postId}">

    <label for="newTitle" class="form-label">제목</label>
    <input type="text" class="form-control" id="newTitle" th:value="${post.title}">

    <label for="newTextContent" class="form-label">내용</label>
    <textarea class="form-control" id="newTextContent" rows="6" th:text="${post.textContent}"></textarea>

    <button type="button" class="btn btn-info" id="updateBtn">수정 완료</button>
</div>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>

    $(document).ready(function(){

        $("#updateBtn").on("click",function(){

            let postId = $("#postId").val();
            let newTitle = $("#newTitle").val();
            let newTextContent = $("#newTextContent").val();

            $.ajax({
                type:"put"
                , url:"/post"
                , data:{"postId":postId, "title":newTitle, "textContent":newTextContent}
                , success:function(data){
                    if(data.result == "success"){
                        alert("수정 성공");
                        location.href="/main";
                    } else {
                        alert("수정 실패");
                    }
                }
                , error:function(){
                    alert("수정 에러");
                }
            });
        });
    });

</script>


</body>
</html>