<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div id="wrap">
        <div th:replace="~{ include/nav.html :: navbar}"></div>

        <div class="search-area">
            <input type="text" class="form-control" placeholder="search" id="userId">
            <button type="button" id="searchBtn">검색</button>
        </div>


        <!-- 정렬 버튼 블록 -->
        <div class="d-flex mb-3">
            <button id="sortByLike" class="btn btn-primary">좋아요순</button>
            <button id="sortByNewest" class="btn">최신순</button>
        </div>

        <!-- 좋아요 순 게시물 -->
        <div id="likePosts" th:if="${postListOrderByLikeCount != null}" class="post-list">
            <div th:each="post : ${postListOrderByLikeCount}" class="postBox"
                 th:onclick="'location.href=\'/post/detail?postId=' + ${post.postId} + '\';'">
                <p th:text="'작성자 : ' + ${post.userId}"></p>
                <p th:text="'제목 : ' + ${post.title}"></p>
                <p th:text="'내용 : ' + ${post.textContent}" class="d-none"></p>

                <div th:if="${post.userId} == ${userId}">
                    <div class="bottom-right">
                        <button type="button" class="modifyBtn btn btn-sm btn-outline-warning" th:data-post-id="${post.postId}">
                            수정
                        </button>
                        <button type="button" class="deleteBtn btn btn-sm btn-outline-danger" th:data-post-id="${post.postId}">
                            삭제
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 최신 순 게시물 -->
        <div id="newPosts" th:if="${postListOrderByCreatedAt != null}" class="post-list" style="display:none;">
            <div th:each="post : ${postListOrderByCreatedAt}" class="postBox"
                 th:onclick="'location.href=\'/post/detail?postId=' + ${post.postId} + '\';'">
                <p th:text="'작성자 : ' + ${post.userId}"></p>
                <p th:text="'제목 : ' + ${post.title}"></p>
                <p th:text="'내용 : ' + ${post.textContent}" class="d-none"></p>

                <div th:if="${post.userId} == ${userId}">
                    <div class="bottom-right">
                        <button type="button" class="modifyBtn btn btn-sm btn-outline-warning" th:data-post-id="${post.postId}">
                            수정
                        </button>
                        <button type="button" class="deleteBtn btn btn-sm btn-outline-danger" th:data-post-id="${post.postId}">
                            삭제
                        </button>
                    </div>
                </div>
            </div>
        </div>



    </div>




<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){

        $(".likeCancelBtn").on("click", function(){
            let postId = $(this).data("post-id");
            $.ajax({
                type:"delete"
                , url:"/post/like"
                , data:{"postId":postId}
                , success:function(data){
                    if(data.result == "success"){
                        location.reload();
                    } else {
                        alert("좋아요 취소 실패");
                    }
                }
                , error:function(){
                    alert("좋아요 취소 에러");
                }
            });
        });

        $(".dislikeCancelBtn").on("click", function(){
            let postId = $(this).data("post-id");
            $.ajax({
                type:"delete"
                , url:"/post/like"
                , data:{"postId":postId}
                , success:function(data){
                    if(data.result == "success"){
                        location.reload();
                    } else {
                        alert("싫어요 취소 실패");
                    }
                }
                , error:function(){
                    alert("싫어요 취소 에러");
                }
            });
        });

        $(".deleteBtn").on("click", function(){
            let postId = $(this).data("post-id");

            $.ajax({
                type:"delete"
                , url:"/post"
                , data:{"postId":postId}
                , success:function(data){
                    if(data.result == "success"){
                        alert("게시물이 삭제되었습니다.");
                        location.reload();
                    } else {
                        alert("삭제 실패");
                    }
                }
                , error:function(){
                    alert("삭제 에러");
                }
            });

        });

        $(".likeBtn").on("click", function(){
            let postId = $(this).data("post-id");
            let isLike = 1;
            $.ajax({
                type:"POST"
                , url:"/post/like"
                , data:{"postId":postId, "isLike":isLike}
                , success:function(data){
                    if(data.result == "success"){
                        location.reload();
                    } else {
                        alert("좋아요 실패");
                    }
                }
                , error:function(){
                    alert("로그인이 필요합니다");
                }

            });
        });

        $(".dislikeBtn").on("click", function(){
            let postId = $(this).data("post-id");
            let isLike = 0;

            $.ajax({
                type:"POST"
                , url:"/post/like"
                , data:{"postId":postId, "isLike":isLike}
                , success:function(data){
                    if(data.result == "success"){
                        location.reload();
                    } else {
                        alert("싫어요 실패");
                    }
                }
                , error:function(){
                    alert("로그인이 필요합니다");
                }
            });
        });

        $("#searchBtn").on("click",function(){
            let userId = $("#userId").val();
            window.location.href = "/user/mypage?userId=" + userId;
        });

        $(".modifyBtn").on("click", function(){
            event.stopPropagation();
            let postId = $(this).data("post-id");
            location.href = "/post/modify?postId=" + postId;
        });



    });

    $("#sortByLike").on("click", function(){
        $("#likePosts").show();
        $("#newPosts").hide();
        $("#sortByLike").addClass("btn-primary");
        $("#sortByNewest").removeClass("btn-primary");
    });

    $("#sortByNewest").on("click", function(){
        $("#newPosts").show();
        $("#likePosts").hide();
        $("#sortByLike").removeClass("btn-primary");
        $("#sortByNewest").addClass("btn-primary");
    });

</script>


</body>
</html>