<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

<div th:replace="~{ include/nav.html :: navbar}"></div>

<div class="d-flex">
    <input type="text" class="form-control w-25" placeholder="search" id="userId">
    <button type="button" class="btn btn-success" id="searchBtn">search</button>
</div>


<div th:each="post: ${postDetail}" class="postBox mt-5">
    <p th:text="'작성자 : ' + ${post.userId}"></p>
    <p th:text="'제목 : ' + ${post.title}"></p>
    <p th:text="'내용 : ' + ${post.textContent}"></p>
    <p th:text="'작성일 : ' + ${post.createdAt}"></p>
    <p th:text="'수정일 : ' + ${post.updatedAt}" class="d-none"></p>

    <p th:text="'좋아요 개수 : ' + ${post.likeCount}"></p>
    <p th:text="'싫어요 개수 : ' + ${post.dislikeCount}"></p>

    <div th:if="${!post.isLike and !post.isDislike}">
        <button type="button" class="likeBtn btn btn-outline-success" th:data-post-id="${post.postId}">👍</button>
        <button type="button" class="dislikeBtn btn btn-outline-danger" th:data-post-id="${post.postId}">👎</button>
    </div>
    <div th:if="${post.isLike}">
        <button type="button" class="likeCancelBtn btn btn-success" th:data-post-id="${post.postId}">👍</button>
        <button type="button" class="dislikeBtn btn btn-outline-danger" th:data-post-id="${post.postId}">👎</button>
    </div>
    <div th:if="${post.isDislike}">
        <button type="button" class="likeBtn btn btn-outline-success" th:data-post-id="${post.postId}">👍</button>
        <button type="button" class="dislikeCancelBtn btn btn-danger" th:data-post-id="${post.postId}">👎</button>
    </div>

    <button type="button" class="deleteBtn" th:data-post-id="${post.postId}">
        게시글 삭제
    </button>
</div>





<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){

        $(".likeCancelBtn").on("click", function(){
            let postId = $(this).data("post-id");
            $.ajax({
                type:"delete"
                , url:"/post/like"
                , data:{"postId":postId}
                , success:function(data){
                    if(data.result == "success"){
                        location.reload();
                    } else {
                        alert("좋아요 취소 실패");
                    }
                }
                , error:function(){
                    alert("좋아요 취소 에러");
                }
            });
        });

        $(".dislikeCancelBtn").on("click", function(){
            let postId = $(this).data("post-id");
            $.ajax({
                type:"delete"
                , url:"/post/like"
                , data:{"postId":postId}
                , success:function(data){
                    if(data.result == "success"){
                        location.reload();
                    } else {
                        alert("싫어요 취소 실패");
                    }
                }
                , error:function(){
                    alert("싫어요 취소 에러");
                }
            });
        });

        $(".deleteBtn").on("click", function(){
            let postId = $(this).data("post-id");

            $.ajax({
                type:"delete"
                , url:"/post"
                , data:{"postId":postId}
                , success:function(data){
                    if(data.result == "success"){
                        alert("게시물이 삭제되었습니다.");
                        location.reload();
                    } else {
                        alert("삭제 실패");
                    }
                }
                , error:function(){
                    alert("삭제 에러");
                }
            });

        });

        $(".likeBtn").on("click", function(){
            let postId = $(this).data("post-id");
            let isLike = 1;
            $.ajax({
                type:"POST"
                , url:"/post/like"
                , data:{"postId":postId, "isLike":isLike}
                , success:function(data){
                    if(data.result == "success"){
                        location.reload();
                    } else {
                        alert("좋아요 실패");
                    }
                }
                , error:function(){
                    alert("좋아요 에러");
                }

            });
        });

        $(".dislikeBtn").on("click", function(){
            let postId = $(this).data("post-id");
            let isLike = 0;

            $.ajax({
                type:"POST"
                , url:"/post/like"
                , data:{"postId":postId, "isLike":isLike}
                , success:function(data){
                    if(data.result == "success"){
                        location.reload();
                    } else {
                        alert("싫어요 실패");
                    }
                }
                , error:function(){
                    alert("싫어요 에러");
                }
            });
        });

        $("#searchBtn").on("click",function(){
            let userId = $("#userId").val();
            window.location.href = "/post/user?userId=" + userId;
        });
    });



</script>

</body>
</html>