<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

<div th:replace="~{ include/nav.html :: navbar}"></div>

<div class="d-flex">
    <input type="text" class="form-control w-25" placeholder="search" id="userId">
    <button type="button" class="btn btn-success" id="searchBtn">search</button>
</div>


<div th:each="post: ${postList}" class="postBox mt-5">
    <p th:text="'작성자 : ' + ${post.userId}"></p>
    <p th:text="'제목 : ' + ${post.title}"></p>
    <p th:text="'내용 : ' + ${post.textContent}"></p>
    <p th:text="'작성일 : ' + ${post.createdAt}"></p>
    <p th:text="'수정일 : ' + ${post.updatedAt}" class="d-none"></p>

    <button type="button" class="likeBtn">👍</button>
    <button type="button" class="dislikeBtn">👎</button>

    <button type="button" class="deleteBtn" th:data-post-id="${post.postId}">
        게시글 삭제
    </button>
</div>





<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){

        $(".deleteBtn").on("click", function(){
            let postId = $(this).data("post-id");

            $.ajax({
                type:"delete"
                , url:"/post"
                , data:{"postId":postId}
                , success:function(data){
                    if(data.result == "success"){
                        alert("삭제 성공");
                        location.reload();
                    } else {
                        alert("삭제 실패");
                    }
                }
                , error:function(){
                    alert("삭제 에러");
                }
            });

        });

        $(".likeBtn").on("click", function(){
            alert("likeBtn");
        });

        $(".dislikeBtn").on("click", function(){
            alert("dislikeBtn");
        });

        $("#searchBtn").on("click",function(){
            let userId = $("#userId").val();
            window.location.href = "/post/user?userId=" + userId;
        });
    });



</script>

</body>
</html>