#wrap {
    margin:0 auto;
    width: 1000px;
    height: 1200px;
}

#join-box {
    width: 600px;
    height: 800px;
}


#login-box {
    width: 600px;
    height: 800px;
}

#postBox{
    border: 1px solid black;
    width:350px;
    height: 400px;
}