<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">MySite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- 로그인 여부 확인 -->
        <li class="nav-item" th:if="${session.id == null}">
          <a class="nav-link" href="/login">로그인</a>
        </li>
        <li class="nav-item" th:if="${session.id == null}">
          <a class="nav-link" href="/join">회원가입</a>
        </li>

        <li class="nav-item" th:if="${session.id != null}">
          <a class="nav-link" href="/logout">로그아웃</a>
        </li>
        <li class="nav-item" th:if="${session.id != null}">
          <a class="nav-link" href="/user/password">비밀번호 변경</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</body>
</html>
